*{	margin: 0; padding: 0;	}

header{
	width: 100%;
	height: 45px;
	background-color: #24A6BD;
}

header a{
	text-decoration: none;
	float: left;
	line-height: 45px;
	color: white;
	padding-left: 10px;
	
}

header h3{
	text-align: center;
	line-height: 45px;
	color: white;
	padding-right: 45px;
}


section{
	width: 90%;
	margin: 0 auto;	
	margin-top: 30px;
}

section .h3{
	background-color: #6CC3D2;
	color: white;
	text-shadow: 1px 1px 1px black;
}

section .frame{
	width: 100%;
	margin: 0 auto;	
	margin-bottom: 50px;
}